<!doctype HTML>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta name="author" content="yangzhifang_gz none" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/><!-- 手机视图 -->
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="email=no" />
<meta name="format-detection" content="address=no" >
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>日计趋势-六网</title>
<meta name="keywords" content="">
<meta name="description" content="">
<link type="text/css" rel="stylesheet" href="http://js.3conline.com/wap/pconline/2015/weixin/style.css"/>
</head> 
<body>   
   <!--g-doc-->
   <div class="g-doc">
      <!--g-hd-->
       <div class="g-hd">
            <a href="#" class="m-home">返回</a>
            <span class="m-th">家庭流量系统</span>       
       </div>
       <!--/g-hd-->

       <!--g-hb-->
       <div class="g-hb">  
         <div class="m-title">
            <a href="index-dreport.html" class="m-title-markBack">返回</a>
            <span>日计趋势-六网</span>             
            <a href="index-mtrend.html" class="m-title-mark">月计</a>
         </div>
         <div class="m-nav m-nav-trend" id="Jnav">
            <a href="#" class="s-sel">最近7天</a>
            <a href="#">最近30天</a>
            <a href="#">最近3月</a>                  
         </div>       
         <ul class="m-list m-list-trend" id="Jlist">
               <li class="s-title s-gy">
                  <div class="list">平台</div>
                  <div class="list">日均UV<span>(单位:万)</span></div>
                  <div class="list">日均PV<span>(单位:万)</span></div> 
               </li>
               <li class="s-wt s-sel">
                  <a href="javascript:;" class="s-sel" id="lines-1">
                     <div class="list">合计</div>
                     <div class="list">1356</div>
                     <div class="list">9268</div> 
                  </a>                    
               </li>
               <li class="s-wt s-gy">
                  <a href="javascript:;" id="lines-2">
                     <div class="list">PC</div>
                     <div class="list">1376</div>
                     <div class="list">1376</div> 
                  </a>                    
               </li>
               <li class="s-wt">
                  <a href="javascript:;" id="lines-3">
                     <div class="list">WAP</div>
                     <div class="list">535</div>
                     <div class="list">2474</div> 
                  </a>                    
               </li>
               <li class="s-wt s-gy">
                  <a href="javascript:;" id="lines-4">
                     <div class="list">APP</div>
                     <div class="list">30</div>
                     <div class="list">-</div> 
                  </a>                    
               </li>
         </ul> 
         <div class="m-tb-picTab" id="Jtab">
            <a href="javascript:;" id="tab-1">PV</a>
            <a href="javascript:;" class="s-sel" id="tab-2">UV</a>
         </div>  
         <div id="container"  class="container" style="width:100%;"></div>        
         <div id="Jlist-detail">
            <ul class="m-list m-list-trend  m-list-detail">
               <div class="tab-order">合计明细</div>
               <li class="s-title s-gy">
                  <div class="list">日期</div>
                  <div class="list">UV<span>(单位:万)</span></div>
                  <div class="list">PV<span>(单位:万)</span></div>
               </li>
               <li class="s-wt s-sel">
                  <a href="javascript:;">                  
                     <div class="list">2015/4/7</div>
                     <div class="list">1356</div>
                     <div class="list">9268</div>                       
                  </a>
               </li>
               <li class="s-wt s-gy">
                  <a href="javascript:;">                  
                     <div class="list">2015/4/6</div>
                     <div class="list">821</div>
                     <div class="list">888</div>                        
                  </a>
               </li>
               <li class="s-wt">
                  <a href="javascript:;">                  
                     <div class="list">2015/4/5</div>
                     <div class="list">1376</div>
                     <div class="list">888</div>                        
                  </a>
               </li>
               <li class="s-wt s-gy">
                  <a href="javascript:;">                  
                     <div class="list">2015/4/4</div>
                     <div class="list">1376</div>
                     <div class="list">888</div>                        
                  </a>
               </li>
               <li class="s-wt">
                  <a href="javascript:;">                  
                     <div class="list">2015/4/3</div>
                     <div class="list">1376</div>
                     <div class="list">888</div>                        
                  </a>
               </li>
               <li class="s-wt s-gy">
                  <a href="javascript:;">                  
                     <div class="list">2015/4/2</div>
                     <div class="list">1376</div>
                     <div class="list">888</div>                        
                  </a>
               </li>
               <li class="s-wt">
                  <a href="javascript:;">                  
                     <div class="list">2015/4/1</div>
                     <div class="list">1376</div>
                     <div class="list">4444</div>                       
                  </a>
               </li>
            </ul>
            <ul class="m-list m-list-trend  m-list-detail" style="display:none">
               <div class="tab-order">PC明细</div>
               <li class="s-title s-gy">
                  <div class="list">日期</div>
                  <div class="list">UV<span>(单位:万)</span></div>
                  <div class="list">PV<span>(单位:万)</span></div>
               </li>
               <li class="s-wt s-sel">
                  <a href="javascript:;">                  
                     <div class="list">2015/4/7</div>
                     <div class="list">1356</div>
                     <div class="list">9268</div>                       
                 </a>
               </li>
               <li class="s-wt s-gy">
                  <a href="javascript:;">                  
                     <div class="list">2015/4/6</div>
                     <div class="list">821</div>
                     <div class="list">888</div>                        
                 </a>
               </li>
               <li class="s-wt">
                  <a href="javascript:;">                  
                     <div class="list">2015/4/5</div>
                     <div class="list">1376</div>
                     <div class="list">888</div>                        
                  </a>
               </li>
               <li class="s-wt s-gy">
                  <a href="javascript:;">                  
                     <div class="list">2015/4/4</div>
                     <div class="list">1376</div>
                     <div class="list">888</div>                        
                  </a>
               </li>
               <li class="s-wt">
                  <a href="javascript:;">                  
                     <div class="list">2015/4/3</div>
                     <div class="list">1376</div>
                     <div class="list">888</div>                        
                  </a>
               </li>
               <li class="s-wt s-gy">
                  <a href="javascript:;">                  
                     <div class="list">2015/4/2</div>
                     <div class="list">1376</div>
                     <div class="list">888</div>                        
                  </a>
               </li>
               <li class="s-wt">
                  <a href="javascript:;">                  
                     <div class="list">2015/4/1</div>
                     <div class="list">1376</div>
                     <div class="list">4444</div>                       
                  </a>
               </li>
            </ul>
            <ul class="m-list m-list-trend  m-list-detail" style="display:none">
               <div class="tab-order">WAP明细</div>
               <li class="s-title s-gy">
                  <div class="list">日期</div>
                  <div class="list">UV<span>(单位:万)</span></div>
                  <div class="list">PV<span>(单位:万)</span></div>
               </li>
               <li class="s-wt s-sel">
                  <a href="javascript:;">                  
                     <div class="list">2015/4/7</div>
                     <div class="list">1356</div>
                     <div class="list">9268</div>                       
                 </a>
               </li>
               <li class="s-wt s-gy">
                  <a href="javascript:;">                  
                     <div class="list">2015/4/6</div>
                     <div class="list">821</div>
                     <div class="list">888</div>                        
                 </a>
               </li>
               <li class="s-wt">
                  <a href="javascript:;">                  
                     <div class="list">2015/4/5</div>
                     <div class="list">1376</div>
                     <div class="list">888</div>                        
                  </a>
               </li>
               <li class="s-wt s-gy">
                  <a href="javascript:;">                  
                     <div class="list">2015/4/4</div>
                     <div class="list">1376</div>
                     <div class="list">888</div>                        
                  </a>
               </li>
               <li class="s-wt">
                  <a href="javascript:;">                  
                     <div class="list">2015/4/3</div>
                     <div class="list">1376</div>
                     <div class="list">888</div>                        
                  </a>
               </li>
               <li class="s-wt s-gy">
                  <a href="javascript:;">                  
                     <div class="list">2015/4/2</div>
                     <div class="list">1376</div>
                     <div class="list">888</div>                        
                  </a>
               </li>
               <li class="s-wt">
                  <a href="javascript:;">                  
                     <div class="list">2015/4/1</div>
                     <div class="list">1376</div>
                     <div class="list">4444</div>                       
                  </a>
               </li>
            </ul>
            <ul class="m-list m-list-trend  m-list-detail" style="display:none">
               <div class="tab-order">APP明细</div>
               <li class="s-title s-gy">
                  <div class="list">日期</div>
                  <div class="list">UV<span>(单位:万)</span></div>
                  <div class="list">PV<span>(单位:万)</span></div>
               </li>
               <li class="s-wt s-sel">
                  <a href="javascript:;">                  
                     <div class="list">2015/4/7</div>
                     <div class="list">1356</div>
                     <div class="list">9268</div>                       
                 </a>
               </li>
               <li class="s-wt s-gy">
                  <a href="javascript:;">                  
                     <div class="list">2015/4/6</div>
                     <div class="list">821</div>
                     <div class="list">888</div>                        
                 </a>
               </li>
               <li class="s-wt">
                  <a href="javascript:;">                  
                     <div class="list">2015/4/5</div>
                     <div class="list">1376</div>
                     <div class="list">888</div>                        
                  </a>
               </li>
               <li class="s-wt s-gy">
                  <a href="javascript:;">                  
                     <div class="list">2015/4/4</div>
                     <div class="list">1376</div>
                     <div class="list">888</div>                        
                  </a>
               </li>
               <li class="s-wt">
                  <a href="javascript:;">                  
                     <div class="list">2015/4/3</div>
                     <div class="list">1376</div>
                     <div class="list">888</div>                        
                  </a>
               </li>
               <li class="s-wt s-gy">
                  <a href="javascript:;">                  
                     <div class="list">2015/4/2</div>
                     <div class="list">1376</div>
                     <div class="list">888</div>                        
                  </a>
               </li>
               <li class="s-wt">
                  <a href="javascript:;">                  
                     <div class="list">2015/4/1</div>
                     <div class="list">1376</div>
                     <div class="list">4444</div>                       
                  </a>
               </li>
            </ul>
         </div> 
       </div>
       <!--/g-hb-->  
   </div>
   <!--/g-doc-->


<script type="text/javascript" src="http://js.3conline.com/wap/pconline/2015/weixin/js/jquery.min.js"></script>
<script type="text/javascript" src="http://js.3conline.com/wap/pconline/2015/weixin/js/highcharts.js"></script>

<script>
window.onload=function(){  
   //样式切换   
   var titles=document.getElementById("Jnav").getElementsByTagName("a");        

   for(var i=0; i<titles.length;i++){  
         titles[i].index=i;   
         titles[i].onclick=function(){ 
              for(var j=0;j<titles.length;j++){
                 titles[j].className ="";
              }       
              this.className ="s-sel";
         };
   }  

   var tabs=document.getElementById("Jtab").getElementsByTagName("a");
       //lists=document.getElementById("Jlist-pic").getElementsByTagName("li");

   for(var i=0; i<tabs.length;i++){  
      tabs[i].index=i; 
      tabs[i].onclick=function(){ 
         for(var j=0;j<tabs.length;j++){
           tabs[j].className ="";
           //lists[j].style.display ="none";          
         }       
         this.className ="s-sel";
         //lists[this.index].style.display = "block";        
      }
   }

   var lines=document.getElementById("Jlist").getElementsByTagName("a"),
       details=document.getElementById("Jlist-detail").getElementsByTagName("ul");

   for(var i=0; i<lines.length;i++){  
      lines[i].index=i;   
      lines[i].onclick=function(){ 
        for(var j=0;j<lines.length;j++){
        lines[j].className ="";
        details[j].style.display ="none";          
        }       
        this.className ="s-sel";
        details[this.index].style.display = "block";        
      }
   } 
}

$(function () {
   var categories = ['04/01','04/02','04/03','04/04','04/05','04/06','04/07'];   

   $('#container').highcharts({
        chart: {             
            type: 'area',            
        },
        title: {
            text: '合计',
            align:'left',
            style:{
                color:'#33A5FF',  
                fontSize:'12px',   
                verticalAlign:'middle',
            }, 
        },      
        xAxis: {
           labels:{
                formatter:function(){
                    return categories[this.value];
                },
           },
            tickInterval: 1,
            tickWidth:0,    //隐藏刻度线                        
            tickmarkPlacement: 'on', //刻度线位于正下方
        },
        yAxis: {
            title: {
                text: ''   
            },                  
            //lineWidth:1,
            lineColor:'#D6D6D6',
            tickInterval:1000,
        },

        //禁止打印图表
        exporting:{
            enabled:false,
        }, 

        //数据提示框
        tooltip: {                      
         //自定义十字准心
            crosshairs:[{
               width:1,                            
               color:'#7F63A1',              
               zIndex:999,
            }],
            shared: true, 
            animation:false, 
            borderWidth:0, 
            /*formatter:function(){
              return event.point.name+ '<br/>' + event.point.y
            }*/

        },          
        plotOptions: {
          //区域图
           area: {      
                color:'#E8F1FA',           
                stacking: 'normal',                
                lineWidth: 2,
                lineColor:'#4B7CAE',  
          },           
        },

        //数据列
        series: [{  
             name:'访问量',
             marker:{              
                symbol:'circle', 
                radius:3, 
                lineWidth: 1,
                lineColor: '#4B7CAE',
                fillColor:'#FFF', 
                state:{
                  select:{
                    lineColor:'#7F63A1',
                    fillColor:'#7F63A1',
                    color:'#7F63A1',
                  }
                }                                                
              },            
            data:[                               
                {name:'日期:15-01',y:2474},
                {name:'日期:15-02',y:6795},
                {name:'日期:15-03',y:2474},
                {name:'日期:15-04',y:6795},
                {name:'日期:15-05',y:2474},
                {name:'日期:15-06',y:6795},
                {name:'日期:15-07',y:9268},
            ]
        }],

        //隐藏图例
        legend:{            
           enabled:false,
        }, 
         
         //隐藏版权信息
         credits:{
            enabled:false,
        }, 
   });

   //pv
   $('#tab-1').click(function(){
      var chart = $('#container').highcharts(),
          seriesList=chart.series;

      for(var i=0;i<seriesList.length;i++){
          chart.series[i].remove();
      }

      chart.addSeries({
            name:'访问量',
         name:'访问量',
         marker:{
            symbol:'circle', 
            radius:3, 
            lineWidth: 1,
            lineColor: '#4B7CAE',
            fillColor:'#FFF', 
            state:{
              select:{
                lineColor:'#7F63A1',
                fillColor:'#7F63A1'
              }
            }                                                
        },
         data:[
            {name:'日期:15-01',y:0},
            {name:'日期:15-02',y:6795},
            {name:'日期:15-03',y:2474},
            {name:'日期:15-04',y:6795},
            {name:'日期:15-05',y:2474},
            {name:'日期:15-06',y:6795},
            {name:'日期:15-07',y:9268},
         ]
      }); 
   });
   //uv
   $('#tab-2').click(function(){
      var chart = $('#container').highcharts(),
          seriesList=chart.series;

      for(var i=0;i<seriesList.length;i++){
          chart.series[i].remove();
      }

      chart.addSeries({
          name:'访问量',  
         marker:{
            symbol:'circle', 
            radius:3, 
            lineWidth: 1,
            lineColor: '#4B7CAE',
            fillColor:'#FFF', 
            state:{
              select:{
                lineColor:'#7F63A1',
                fillColor:'#7F63A1'
              }
            }                                                
        },      
         data:[
            {name:'日期:15-01',y:2474},
            {name:'日期:15-02',y:6795},
            {name:'日期:15-03',y:2474},
            {name:'日期:15-04',y:6795},
            {name:'日期:15-05',y:2474},
            {name:'日期:15-06',y:6795},
            {name:'日期:15-07',y:9268},
         ]
      });     
   }); 

   //合计
   $('#lines-1').click(function(){
     var chart = $('#container').highcharts(),
         seriesList=chart.series;

     for(var i=0;i<seriesList.length;i++){
         chart.series[i].remove();
     }

     chart.setTitle({text:'合计'});
     chart.addSeries({
          name:'访问量',
        marker:{
            symbol:'circle', 
            radius:3, 
            lineWidth: 1,
            lineColor: '#4B7CAE',
            fillColor:'#FFF', 
            state:{
              select:{
                lineColor:'#7F63A1',
                fillColor:'#7F63A1'
              }
            }                                                
        },
        data:[
           {name:'日期:15-01',y:0},
           {name:'日期:15-02',y:6795},
           {name:'日期:15-03',y:2474},
           {name:'日期:15-04',y:6795},
           {name:'日期:15-05',y:2474},
           {name:'日期:15-06',y:6795},
           {name:'日期:15-07',y:9268},
        ]
     });
   }); 

   //pc
   $('#lines-2').click(function(){
     var chart = $('#container').highcharts(),
         seriesList=chart.series;

     for(var i=0;i<seriesList.length;i++){
         chart.series[i].remove();
     }

     chart.setTitle({text:'PC'});
     chart.addSeries({
        name:'访问量', 
        marker:{
            symbol:'circle', 
            radius:3, 
            lineWidth: 1,
            lineColor: '#4B7CAE',
            fillColor:'#FFF', 
            state:{
              select:{
                lineColor:'#7F63A1',
                fillColor:'#7F63A1'
              }
            }                                                
        },
        data:[
           {name:'日期:15-01',y:2474},
           {name:'日期:15-02',y:6795},
           {name:'日期:15-03',y:2474},
           {name:'日期:15-04',y:6795},
           {name:'日期:15-05',y:2474},
           {name:'日期:15-06',y:6795},
           {name:'日期:15-07',y:9268},
        ]
     });
   }); 

   //wap
   $('#lines-3').click(function(){
     var chart = $('#container').highcharts(),
         seriesList=chart.series;

     for(var i=0;i<seriesList.length;i++){
         chart.series[i].remove();
     }

     chart.setTitle({text:'WAP'});
     chart.addSeries({
          name:'访问量',
        marker:{
            symbol:'circle', 
            radius:3, 
            lineWidth: 1,
            lineColor: '#4B7CAE',
            fillColor:'#FFF', 
            state:{
              select:{
                lineColor:'#7F63A1',
                fillColor:'#7F63A1'
              }
            }                                                
        },
        data:[
           {name:'日期:15-01',y:2474},
           {name:'日期:15-02',y:0},
           {name:'日期:15-03',y:2474},
           {name:'日期:15-04',y:6795},
           {name:'日期:15-05',y:2474},
           {name:'日期:15-06',y:6795},
           {name:'日期:15-07',y:9268},
        ]
     });
   });

   //APP
   $('#lines-4').click(function(){
     var chart = $('#container').highcharts(),
         seriesList=chart.series;

     for(var i=0;i<seriesList.length;i++){
         chart.series[i].remove();
     }

     chart.setTitle({text:'APP'});
     chart.addSeries({
        name:'访问量', 
        marker:{
            symbol:'circle', 
            radius:3, 
            lineWidth: 1,
            lineColor: '#4B7CAE',
            fillColor:'#FFF', 
            state:{
              select:{
                lineColor:'#7F63A1',
                fillColor:'#7F63A1'
              }
            }                                                
        },
        data:[
           {name:'日期:15-01',y:2474},
           {name:'日期:15-02',y:0},
           {name:'日期:15-03',y:2474},
           {name:'日期:15-04',y:6795},
           {name:'日期:15-05',y:2474},
           {name:'日期:15-06',y:6795},
           {name:'日期:15-07',y:9268},
        ]
     });
   });

   
});

</script>

</body>
</html> 