<!doctype HTML>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta name="author" content="yangzhifang_gz none" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/><!-- 手机视图 -->
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="email=no" />
<meta name="format-detection" content="address=no" >
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>日计报表</title>
<meta name="keywords" content="">
<meta name="description" content="">
<link type="text/css" rel="stylesheet" href="http://js.3conline.com/wap/pconline/2015/weixin/style.css"/>
</head> 
<body>	
	<!--g-doc-->
	<div class="g-doc">
		<!--g-hd-->
	    <div class="g-hd">
	       	<a href="#" class="m-home">返回</a>
        	<span class="m-th">家庭流量系统</span>	      
	    </div>
	    <!--/g-hd-->

	    <!--g-hb-->
	    <div class="g-hb">	
	   		<div class="m-title">
	   			<span>日计报表</span>
	   			<a href="index-mreport.html" class="m-title-mark">月计</a>
	   		</div>
	   		<div class="m-nav">
	   			<a href="#" class="prev">前一天</a>
	   			<a href="#" class="input-wrap">
	   				<input type="date" name="" id="Jdate" placehoder=""/>	
	   			</a>	   			   			
	   			<a href="#" class="next">后一天</a>
	   		</div>	
	   		<div class="m-tb">
	   			<div class="m-tb-head" id="Jtab">	   				
	   				<a href="javascript:;">PV</a>
	   				<a href="javascript:;"class="s-sel">UV</a>
	   			</div>	   			
	   			<div id="Jlist">
	   				<ul class="m-list" style="display:none">
		   				<li class="s-title s-gy">
		   					<div class="list">网站</div>
							<div class="list">合计<span>(单位:万)</span></div>
							<div class="list">PC<span>(单位:万)</span></div>
							<div class="list">WAP<span>(单位:万)</span></div>
							<div class="list">APP<span>(单位:万)</span></div>
		   				</li>
		   				<li class="s-wt">
		   					<a href="index-dtrend.html">
		   						<div class="list">六网<span>pcgroup</span></div>
		   						<div class="list">1376<span>同比:+2%</span></div>
		   						<div class="list">PC<span>同比:-5%</span></div>
		   						<div class="list">WAP<span>同比:+12%</span></div>
		   						<div class="list">APP<span>同比:+12px</span></div>
		   					</a>	   					
		   				</li>
		   				<li class="s-wt s-gy">
		   					<a href="index-dtrend.html">
		   						<div class="list">电脑网<span>pconline.com.cn</span></div>
		   						<div class="list">1376<span>同比:+2%</span></div>
		   						<div class="list">PC<span>同比:-5%</span></div>
		   						<div class="list">WAP<span>同比:+12%</span></div>
		   						<div class="list">APP<span>同比:+12px</span></div>
		   					</a>	   					
		   				</li>
		   				<li class="s-wt">
		   					<a href="index-dtrend.html">
		   						<div class="list">汽车网<span>pcauto.com.cn</span></div>
		   						<div class="list">1376<span>同比:+2%</span></div>
		   						<div class="list">PC<span>同比:-5%</span></div>
		   						<div class="list">WAP<span>同比:+12%</span></div>
		   						<div class="list">APP<span>同比:+12px</span></div>
		   					</a>	   					
		   				</li>
		   				<li class="s-wt s-gy">
		   					<a href="index-dtrend.html">
		   						<div class="list">游戏网<span>pcgames.com.cn</span></div>
		   						<div class="list">1376<span>同比:+2%</span></div>
		   						<div class="list">PC<span>同比:-5%</span></div>
		   						<div class="list">WAP<span>同比:+12%</span></div>
		   						<div class="list">APP<span>同比:+12px</span></div>
		   					</a>	   					
		   				</li>
		   				<li class="s-wt">
		   					<a href="index-dtrend.html">
		   						<div class="list">时尚网<span>pclady.com.cn</span></div>
		   						<div class="list">1376<span>同比:+2%</span></div>
		   						<div class="list">PC<span>同比:-5%</span></div>
		   						<div class="list">WAP<span>同比:+12%</span></div>
		   						<div class="list">APP<span>同比:+12px</span></div>
		   					</a>	   					
		   				</li>
		   				<li class="s-wt s-gy">
		   					<a href="index-dtrend.html">
		   						<div class="list">亲子网<span>pclady.com.cn</span></div>
		   						<div class="list">1376<span>同比:+2%</span></div>
		   						<div class="list">PC<span>同比:-5%</span></div>
		   						<div class="list">WAP<span>同比:+12%</span></div>
		   						<div class="list">APP<span>同比:+12px</span></div>
		   					</a>	   					
		   				</li>
		   				<li class="s-wt">
		   					<a href="index-dtrend.html">
		   						<div class="list">家居网<span>pchouse.com.cn</span></div>
		   						<div class="list">1376<span>同比:+2%</span></div>
		   						<div class="list">PC<span>同比:-5%</span></div>
		   						<div class="list">WAP<span>同比:+12%</span></div>
		   						<div class="list">APP<span>同比:+12px</span></div>
		   					</a>	   					
		   				</li>
		   			</ul>
		   			<ul class="m-list">
		   				<li class="s-title s-gy">
		   					<div class="list">网站</div>
							<div class="list">合计<span>(单位:万)</span></div>
							<div class="list">PC<span>(单位:万)</span></div>
							<div class="list">WAP<span>(单位:万)</span></div>
							<div class="list">APP<span>(单位:万)</span></div>
		   				</li>
		   				<li class="s-wt">
		   					<a href="index-dtrend.html">
		   						<div class="list">六网<span>pcgroup</span></div>
		   						<div class="list">1376<span>同比:+2%</span></div>
		   						<div class="list">PC<span>同比:-5%</span></div>
		   						<div class="list">WAP<span>同比:+12%</span></div>
		   						<div class="list">APP<span>同比:+12px</span></div>
		   					</a>	   					
		   				</li>
		   				<li class="s-wt s-gy">
		   					<a href="index-dtrend.html">
		   						<div class="list">电脑网<span>pconline.com.cn</span></div>
		   						<div class="list">1376<span>同比:+2%</span></div>
		   						<div class="list">PC<span>同比:-5%</span></div>
		   						<div class="list">WAP<span>同比:+12%</span></div>
		   						<div class="list">APP<span>同比:+12px</span></div>
		   					</a>	   					
		   				</li>
		   				<li class="s-wt">
		   					<a href="index-dtrend.html">
		   						<div class="list">汽车网<span>pcauto.com.cn</span></div>
		   						<div class="list">1376<span>同比:+2%</span></div>
		   						<div class="list">PC<span>同比:-5%</span></div>
		   						<div class="list">WAP<span>同比:+12%</span></div>
		   						<div class="list">APP<span>同比:+12px</span></div>
		   					</a>	   					
		   				</li>
		   				<li class="s-wt s-gy">
		   					<a href="index-dtrend.html">
		   						<div class="list">游戏网<span>pcgames.com.cn</span></div>
		   						<div class="list">1376<span>同比:+2%</span></div>
		   						<div class="list">PC<span>同比:-5%</span></div>
		   						<div class="list">WAP<span>同比:+12%</span></div>
		   						<div class="list">APP<span>同比:+12px</span></div>
		   					</a>	   					
		   				</li>
		   				<li class="s-wt">
		   					<a href="index-dtrend.html">
		   						<div class="list">时尚网<span>pclady.com.cn</span></div>
		   						<div class="list">1376<span>同比:+2%</span></div>
		   						<div class="list">PC<span>同比:-5%</span></div>
		   						<div class="list">WAP<span>同比:+12%</span></div>
		   						<div class="list">APP<span>同比:+12px</span></div>
		   					</a>	   					
		   				</li>
		   				<li class="s-wt s-gy">
		   					<a href="index-dtrend.html">
		   						<div class="list">亲子网<span>pclady.com.cn</span></div>
		   						<div class="list">1376<span>同比:+2%</span></div>
		   						<div class="list">PC<span>同比:-5%</span></div>
		   						<div class="list">WAP<span>同比:+12%</span></div>
		   						<div class="list">APP<span>同比:+12px</span></div>
		   					</a>	   					
		   				</li>
		   				<li class="s-wt">
		   					<a href="index-dtrend.html">
		   						<div class="list">家居网<span>pchouse.com.cn</span></div>
		   						<div class="list">1376<span>同比:+2%</span></div>
		   						<div class="list">PC<span>同比:-5%</span></div>
		   						<div class="list">WAP<span>同比:+12%</span></div>
		   						<div class="list">APP<span>同比:+12px</span></div>
		   					</a>	   					
		   				</li>
		   			</ul>
	   			</div>
	   		</div>
	    </div>
	    <!--/g-hb-->
	</div>
	<!--/g-doc-->
<script>
window.onload=function(){
	//获取id
	function $$(id) {
		return (typeof id == "object") ? id : document.getElementById(id);
	}

	//兼容触屏事件
	function touchEvent(elm,fn) {
		if ("ontouchstart" in document.documentElement) {
			elm.addEventListener("touchstart",fn,false);
		}else {
			elm.addEventListener("click",fn,false);
		}
	}

	// 检测浏览器是否支持某个input类型
	function checkInput(type) {
		var i = document.createElement("input");
		i.setAttribute("type", type);
		return i.type == "text" ? false : true;
	}

	//写入日期
	function checkTime(num) {
		if (num < 10) {
			num = "0" + num;
		}
		return num;
	}
	var d = new Date();
	var year = d.getFullYear();
	var month = d.getMonth() + 1;
	var date = d.getDate();

	var Jdate = $$("Jdate");
	var Jmonth = $$("Jmonth");


	if (!(checkInput("date") && checkInput("month"))) {
		Jdate.setAttribute("type", "text");
		Jmonth.setAttribute("type", "text");
	};

	Jdate.setAttribute("value", year + '-' + checkTime(month) + '-' + checkTime(date) );
	Jdate.setAttribute("placeholder",year + '-' + checkTime(month) + '-' + checkTime(date));

	Jdate.addEventListener("blur",function(){
		alert("修改日期完成");
		// 检测新输入的日期格式并load新的数据
		// 检测新输入的日期格式并load新的数据
		// 检测新输入的日期格式并load新的数据
		// 检测新输入的日期格式并load新的数据
		// 检测新输入的日期格式并load新的数据
	},false);

	//样式切换	
	var titles=document.getElementById("Jtab").getElementsByTagName("a"),
		lists=document.getElementById("Jlist").getElementsByTagName("ul");

	for(var i=0; i<titles.length;i++){  
		titles[i].index=i;   
	 	titles[i].onclick=function(){ 
	        for(var j=0;j<titles.length;j++){
	           titles[j].className ="";
	           lists[j].style.display ="none";          
	        }       
	        this.className ="s-sel";
	        lists[this.index].style.display = "block";        
	  	}
	}	
}


	


</script>

</body>
</html> 
