<!doctype HTML>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta name="author" content="yangzhifang_gz none" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/><!-- 手机视图 -->
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="email=no" />
<meta name="format-detection" content="address=no" >
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>解除绑定</title>
<meta name="keywords" content="">
<meta name="description" content="">
<link type="text/css" rel="stylesheet" href="http://js.3conline.com/wap/pconline/2015/weixin/style.css"/>
</head> 

<body>

<div class="doc">
    <div class="g-hd-remove">
        <a href="#" title="" class="header-home"></a>
        <div class="header-title"><span class="header-title-home">解除绑定</span></div>                
    </div>
    <div class="g-hb-remove">
        <p>解除绑定</p>      
        <p>您当前的信息为：</p>
        <p>绑定账号：<span>yangzhifang</span></p>
        <p>绑定时间：2015-04-28 10:44:53</p>               
    </div>
     <a href="#" class="m-btn">解除绑定</a>
</div>
</body>
</html>